<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <select name="login" id="Members_name_select_index">
        <option value=""><b>Select Your name</b></option>
        <option value="austin">austin</option>
        <option value="aiswarya">aiswarya</option>
        <option value="sanjana">sanjana</option>
        <option value="subhadip">subhadip</option>
      </select> -->
      <input type="text" onchange="send_url()" list="Users_name" id="Members_name_select_index">
    <datalist id="Users_name">
      <!-- <option value="austin">
      <option value="aiswarya">
        <option value="subhadip">
            <option value="sanjana"> -->
        </option>
    </datalist>
      <button id="SubmitButton" onclick="send_url()">click</button>

        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
